/*!
global > color
------------------------------
*/
:root {
  /* background */
  --color-bg-primary: #c5ab5f;
  --color-bg-primary-light: rgb(197, 171, 95, 0.1);
  --color-bg-black: #000000;
  --color-bg-white: #ffffff;
  --color-bg-gray: #d1d1d1;
  --color-bg-lightgray: #f3f3f3;
  --color-bg-gold: #aca56c;
  --color-bg-yellow: #c5ab5f;
  --color-bg-orange: #d0a85e;
  --color-bg-blue: #6c9dac;
  --color-bg-pink: #ac6ca0;
  --color-bg-green: #6cac7b;
  --color-bg-pale-red: #fddede;

  /* border */
  --color-border-red: #c34444;
  --color-border-gray: #dddddd;
  --color-border-blue: #6c9dac;
  --color-border-primary: #c5ab5f;
  --color-border-white: #ffffff;
  --color-border-black: #000000;

  /* font */
  --color-font-base: #000000;
  --color-font-white: #ffffff;
  --color-font-gray: #666666;
  --color-font-red: #c34444;
  --color-bg-modal: rgba(0, 0, 0, 0.5);
}
